@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';

*, *::before, *::after{
  padding: 0;
  margin: 0
}

html{
  box-sizing: border-box;
}

main{
  font-family: 'dsdigital-italic', sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}